<main class="container mt-2 p-5">
    <section class="imagen-principal w-100px h-60px">
        <div class="card text-bg-dark">
          <img src="../../../assets/imagenes/canDonacion.jpg" class="card-img" alt="Imagen de donacion a perros">
        </div>
    <h1 class="text-center p-4">¿Cómo ayudar?</h1>
    <p>No es necesario ser un experto en cuidado de animales para ayudar a los refugios de mascotas, solo hace falta tener la voluntad de querer ayudar. Sin importar la experiencia previa que tengas tratando con animales, es muy probable que las organizaciones se puedan beneficiar de tu ayuda. 
      Hay muchas formas para apoyar a los refugios de mascotas. A continuación, encontraras un listado de acciones que puedes hacer hoy mismo para darle tu apoyo a nuestras organizaciones y a sus mascotas en adopción.</p>
    <ul>
        <li>La manera más fácil y directa para ayudar a una organización es a través de donaciones económicas, estas donaciones marcan una gran diferencia para sus operaciones. Donar dinero es rápido, fácil y permite que los refugios utilicen el dinero para cubrir sus necesidades más urgentes.</li><br>
        <li>Si no te sientes comodo(a) donando dinero, también puedes donar comida de mascotas, artículos para la higiene, sabanas, juguetes. Nuestra recomendación es que primero contactes al refugio, les comentes que te gustaría hacer una donación y consultes que necesidades tienen.</li><br>
        <li>Ponte en contacto con un refugio y ofréceles tu ayuda en sus actividades del día a día. Por lo general, los refugios siempre se pueden beneficiar de un par de manos extra. </li><br>
        <li>Visita a un refugio para pasar tiempo con sus mascotas (contáctalos antes de visitar). Si, donar tu tiempo para jugar y pasar tiempo con las mascotas también es una forma de hacer voluntariado.</li><br>
        <li>¿Se te da bien tomar fotografías y te gustan los animales? Puedes ofrecerte para fotografiar a las mascotas de un refugio. Tener buenas fotografías de las mascotas incrementa su atractivo ante posibles adoptantes y mejora sus posibilidades de ser adoptado.</li><br>
        <li>Comparte en tus redes sociales las mascotas que publicamos en nuestro sitio web, puedes visitar las secciones: Adopta un Perro y Adopta un Gato, encuentra la mascota que más te guste, comparte el enlace con tus contactos.​</li><br>
        <li>Participa siendo voluntario como Hogar Temporal para uno de nuestros perros y gatos en adopción. Si te gustan las mascotas y cuentas con espacio disponible en tu hogar, esta es una excelente opción para ayudar.</li><br>
        <li>Obviamente, una de las mejores formas de ayudar es adoptando una mascota. Si vas a adoptar debes estar 100% seguro de tu decisión, ya que es un compromiso a largo plazo. Adoptar es extremadamente gratificante, no solo por el amor y cariño que recibirás por parte de tu nueva mascota, pero también porque con tu decisión estarás ayudando a otras mascotas en adopción, ya que contribuyes a reducir el número de perros y gatos que viven en los refugios, así como al apoyar el valioso trabajo de estas organizaciones.</li><br>
    </ul>
</section>
<section class="imagen-secundaria w-100px h-80px">
  <div class="card text-bg-dark">
    <img src="../../../assets/imagenes/canTemporal.jpg" class="card-img" alt="Imagen de hogar temporal para perro">
  </div>
<h1 class="text-center p-4">¿Quieres ser un hogar temporal?</h1>
<p>Los hogares temporales son una pieza fundamental en la dinámica de adopción de mascotas, ya que permiten aliviar la "sobrepoblación" de animales rescatados dentro de los refugios y al mismo tiempo proporcionan a las mascotas un entorno favorable para su recuperación antes de ser adoptadas. 
  Pero... ¿Qué es un hogar temporal?
  <br>Se considera un hogar temporal cuando una persona (o familia) decide alojar en su hogar una o más mascotas rescatadas, por un tiempo determinado. <br> De esta manera la persona que se ofrece a ser hogar temporal cuida al animal y lo ayuda a recuperarse de sus heridas físicas y traumas emocionales hasta el momento de su adopción.   ​
  <br> Te contamos 5 razones maravillosas y beneficios de ser un hogar temporal para perros recatados:</p>
<ol>
  <li>Tienes el privilegio de ofrecer a un animal necesitado un entorno seguro, reconfortante y de apoyo mientras se recupera y espera a ser adoptado.</li>
  <li>Le permite a la mascota socializar en un entorno seguro para mejorar su potencial de adopción.</li>
  <li>Ayudas a reducir el estrés y sanar los traumas del animal, lo que mejora su adoptabilidad.</li>
  <li>Tienes la certeza de que, gracias a tu ayuda, este animal se encuentra en mejores condiciones.</li>
  <li>Podrás disfrutar los beneficios de tener una mascota, temporalmente.</li>
</ol>
<p>¿Esto es algo que te llama la atención? Contacta a nuestros refugios o rescatistas y ofréceles ser un Hogar Temporal para sus perros en adopción.</p>
</section>
</main>

