.text-section {
    position: relative;
    max-height: 100px; /* Ajusta según el tamaño del contenido visible inicialmente */
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  
  .text-section.expanded {
    max-height: none;
  }
  
  .more-text {
    display: block;
  }
  
  .read-more-btn {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .read-more-btn:focus {
    outline: none;
  }
  