<main class="container mt-2 p-5">
  <h1 class="text-center p-4" style="font-family: Georgia, 'Times New Roman', Times, serif;"><strong>¿Cómo ayudar?</strong></h1>

  <div class="text-section">
    <p class="parrafo" style="font-size: 18px;">
      No es necesario ser un experto en cuidado de animales para ayudar a los refugios de mascotas, solo hace falta tener la voluntad de querer ayudar. Sin importar la experiencia previa que tengas tratando con animales, es muy probable que las organizaciones se puedan beneficiar de tu ayuda.
      <span class="more-text"> Hay muchas formas para apoyar a los refugios de mascotas. A continuación, encontrarás un listado de acciones que puedes hacer hoy mismo para darle tu apoyo a nuestras organizaciones y a sus mascotas en adopción.</span>
    </p>
    <button class="read-more-btn">Leer más</button>
  </div>
  
  <ul class="listado" style="font-size: 18px;">
    <li>La manera más fácil y directa para ayudar a una organización es a través de donaciones económicas, estas donaciones marcan una gran diferencia para sus operaciones. Donar dinero es rápido, fácil y permite que los refugios utilicen el dinero para cubrir sus necesidades más urgentes.</li>
    <li>Si no te sientes cómodo(a) donando dinero, también puedes donar comida de mascotas, artículos para la higiene, sábanas, juguetes. Nuestra recomendación es que primero contactes al refugio, les comentes que te gustaría hacer una donación y consultes qué necesidades tienen.</li>
    <li>Ponte en contacto con un refugio y ofrécele tu ayuda en sus actividades del día a día. Por lo general, los refugios siempre se pueden beneficiar de un par de manos extra.</li>
    <li>Visita a un refugio para pasar tiempo con sus mascotas (contáctalos antes de visitar). Donar tu tiempo para jugar y pasar tiempo con las mascotas también es una forma de hacer voluntariado.</li>
    <li>Participa siendo voluntario como Hogar Temporal para uno de nuestros perros y gatos en adopción. Si te gustan las mascotas y cuentas con espacio disponible en tu hogar, esta es una excelente opción para ayudar.</li>
    <li>Obviamente, una de las mejores formas de ayudar es adoptando una mascota. Si vas a adoptar debes estar 100% seguro de tu decisión, ya que es un compromiso a largo plazo. Adoptar es extremadamente gratificante, no solo por el amor y cariño que recibirás por parte de tu nueva mascota, sino también porque con tu decisión estarás ayudando a otras mascotas en adopción, al contribuir a reducir el número de perros que viven en los refugios y apoyar el valioso trabajo de estas organizaciones.</li>
  </ul>

  <div class="imagen-principal w-100%" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <div class="card text-bg-dark">
      <img src="../../../assets/imagenes/canDonacion.jpg" class="card-img" alt="Imagen de donación a perros">
    </div>
    <button class="read-more-btn">Leer más</button>
  </div>

  <div class="imagen-secundaria w-100%" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <h1 class="text-center p-4">¿Quieres ser un hogar temporal?</h1>
    <p class="parrafo" style="font-size: 18px;">
      Los hogares temporales son una pieza fundamental en la dinámica de adopción de mascotas, ya que permiten aliviar la "sobrepoblación" de animales rescatados dentro de los refugios y al mismo tiempo proporcionan a las mascotas un entorno favorable para su recuperación antes de ser adoptadas. Pero... ¿Qué es un hogar temporal? Se considera un hogar temporal cuando una persona (o familia) decide alojar en su hogar una o más mascotas rescatadas por un tiempo determinado. De esta manera, la persona que se ofrece a ser hogar temporal cuida al animal y lo ayuda a recuperarse de sus heridas físicas y traumas emocionales hasta el momento de su adopción.
    </p>
    <button class="read-more-btn">Leer más</button>
    <ol class="listado" style="font-size: 18px;">
      <li>Tienes el privilegio de ofrecer a un animal necesitado un entorno seguro, reconfortante y de apoyo mientras se recupera y espera a ser adoptado.</li>
      <li>Le permite a la mascota socializar en un entorno seguro para mejorar su potencial de adopción.</li>
      <li>Ayudas a reducir el estrés y sanar los traumas del animal, lo que mejora su adoptabilidad.</li>
      <li>Podrás disfrutar de los beneficios de tener una mascota, temporalmente.</li>
    </ol>
    <p class="parrafo" style="font-size: 18px;">¿Esto es algo que te llama la atención? Contacta a nuestros refugios o rescatistas y ofrécele ser un Hogar Temporal para sus perros en adopción.</p>
    <div class="card text-bg-dark">
      <img src="../../../assets/imagenes/canTemporal.jpg" class="card-img" alt="Imagen de hogar temporal para perro">
    </div>
  </div>