p{
  font-size: 20px;
}
/* MEDIA QUERIES */
/* Teléfonos */
@media screen and (max-width: 767px) {
    p {
      font-size: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
     }
 