<!-- Logo y titulo -->
<header>
  <div class="container">
  <div class="row">
    <div class="d-flex align-items-center my-3">
      <img
      class="logoCan" width="65px" height="65px"
      src="../../../assets/imagenes/siluetaCan.jpg"
      alt="Logo silueta de can" />
      <div></div>
      <h1 class="ml-6" >¡Peluditos!</h1>
      <div class="container sub-titulo text-end">
        <p>Aquí encuentraras perros para adoptar de refugios, rescatados y particulares</p>
      </div>
    </div>
  </div>
</div>
</header>
