
  <form [formGroup]="credencialsForm" (ngSubmit)="handleSubmit()"> 
  <div class="contenedor-formulario contenedor">
    <div class="imagen-formulario">
    </div>
    <div class="caja">

      <div class="texto-formulario formulario">
        <h2>¡Bienvenido!</h2>
        <p>Inicia sesión con tu cuenta</p>
      </div>
  <div class="input">
      <label for="usuario">Correo</label>
      <input type="text" name="usuario" placeholder="Ingrese su correo" formControlName="username">
 </div>
 <div class="input">
  <label for="contrasenia">Contraseña</label>
  <input  type="password" name="contrasenia" placeholder="Ingrese su contraseña" formControlName="password">
</div>
<div class="password-olvidada">
  <a href="">¿Olvidaste tu contraseña?</a>
</div>
<div class="input">
  <input type="submit" value="Log in">
</div>
  </div>
</div>
</form>