<main class="container mt-2 p-5 m-5">
    <section class="imagenTerciaria  w-100 h-80">
     <h1 class="text-center p-4">¿Cómo funciona adoptar con Peluditos?</h1>
     <p>Si tienes un refugio, eres rescatista independiente o acabas de encontrar una mascota abandonada y necesitas darla en adopción, contáctanos es muy sencillo, Deberás enviarnos al correo las fotos e información de los perros en adopción, diligenciar el formulario de registro con tu información y nos encargaremos de que tus mascotas puedan ser encontradas fácilmente por los cientos de visitantes de Peluditos.</p>
      <div class="card text-bg-light p-5">
        <img src="../../../assets/imagenes/canesRescatados.jpg" class="card-img" alt="Imagen de perros rescatados">
      </div>
    </section>
    <div class="card text-center mb-3 m-5 justify-content-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">¿Necesitas ayuda con el proceso?</h5>
          <p class="card-text">Escríbenos a nuestras redes sociales o dejanos un mensaje en:</p>
          <a href="https://www.google.com/intl/es/gmail/about/" class="btn btn-warning">Peluditos.com</a>
        </div>
      </div>
      <section class="form-registro">
        <h4 class="titulo">Formulario de registro</h4>
        <input class="control" type="text" name="nombre" id="nombres" placeholder="Ingrese sus nombres">
        <input class="control" type="text" name="apellido" id="apellidos" placeholder="Ingrese sus apellidos">
        <input class="control" type="text" name="nombreDeUsuario" id="nombresDeUsuario" placeholder="Ingrese su nombre de usuario">
        <input class="control" type="date" name="fechaDeNacimiento" id="fechaDeNacimiento" placeholder="Ingrese su fecha de nacimiento">
        <input class="control" type="text" name="tipoDeDocumento" id="tipoDeDocumento" placeholder="Ingrese su tipo de documento">
        <input class="control" type="number" name="numeroDeDocumento" id="numeroDeDocumento" placeholder="Ingrese su número de documento">
        <input class="control" type="number" name="telefono" id="telefono" placeholder="Ingrese su número de telefono">
        <input class="control" type="text" name="pais" id="pais" placeholder="Ingrese el país">
        <input class="control" type="text" name="ciudadDeResidencia" id="ciudadDeResidencia" placeholder="Ingrese su ciudad de residencia">
        <input class="control" type="text" name="direccion" id="direccion" placeholder="Ingrese su dirección">
        <input class="control" type="email" name="correoElectronico" id="correoElectronico" placeholder="Ingrese su correo electrónico">
        <input class="control" type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese su contraseña"> 
        <p>Estoy de acuerdo con los <a href="#">Terminos y condiciones</a></p>
    <input class="boton" type="submit" value="Registrarme">
    <p><a href="">¡Ya tengo cuenta!</a></p>
    </section>
</main>
