<div class="row row-cols-1 row-cols-md-2 g-5 p-5">
    <div class="col">
      <div class="card">
        <img src="../../../assets/imagenes/canEntrenar.jpg" class="card-img-top" alt="Imagen de entrena a tu perro">
        <div class="card-body">
          <h4 class="card-title text-center p-3">¡Entrena a tu perro para que no orine en casa!</h4>
          <p class="card-text">¿Estás cansado de limpiar constantemente después de los pequeños "accidentes" de tu amigo peludo en la casa? No temas, querido lector, porque aquí estamos para ayudarte.</p>
          <ol>
            <li>Invierte en algunos "pads" para orina de perro de alta calidad.</li>
            <li> Establece un horario constante para sacar a tu perro a pasear y hacer sus necesidades.</li>
            <li>Sobre todo, sé paciente y constante con tu entrenamiento.</li>
            <p class="text-center p-2"><strong>¡Feliz entrenamiento para ir al baño!</strong></p>
            </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imagenes/canDesparasitado.jpg" class="card-img-top" alt="Imagen de cuidados de tu perro">
        <div class="card-body">
          <h4 class="card-title text-center p-3">10 consejos para cuidar a tu perro</h4>
          <ol class="card-text">
            <li>La alimentación adecuada para tus perros</li>
            <li>La importancia del uso de collar y correa</li>
            <li>Mantén siempre vacunado a tu perro</li>
            <li>La esterilización de tu perro</li>
            <li>Mantener la higiene de tu mascota</li>
            <li>Ejercicios para tu perro</li>
            <li>Demuéstrale todo tu amor</li>
            <li>Consiéntelo con juguetes</li>
            <li>Educa a tu mascota</li>
            <li>No dejes solo a tu perro</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imagenes/canAbrazado.jpg" class="card-img-top" alt="Imagen de elegir un perro">
        <div class="card-body">
          <h4 class="card-title text-center p-3">
            ¿Cuál es la mascota ideal para mí?</h4>
          <p class="card-text">Basado en la "Guía de Adopción de Perros" de Amigos de los Animales  
            Hay mascotas para cada tipo de persona, dependiendo del espacio y tiempo que se le pueda dedicar. Estas variables te ayudaran a decidir qué tipo de mascota es la más adecuada:<br><strong>¿Perro grande o pequeño?</strong>
            Es necesario evaluar el espacio disponible para el perro en la vivienda, la cantidad de alimento que requiere diariamente, tiempo disponible y la capacidad física para llevarlo de paseo.
           <br><strong>¿Macho o hembra? </strong>Los machos suelen ser más independientes, territoriales y protectores, mientras que las hembras más cariñosas y sensibles, y a menos que sea esterilizada, la hembra tendrá periodos de celo semestrales.
            <strong>¿Cachorro o adulto?</strong>Un cachorro requiere mayor atención y paciencia en su educación que el perro adulto, quien ya tiene hábitos formados y su madurez le permite acostumbrarse rápidamente a la dinámica familiar.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../../assets/imagenes/canEsterilizado.jpg" class="card-img-top" alt="Imagen de perro esterilizado">
        <div class="card-body">
          <h4 class="card-title text-center p-3">¿Debería esterilizar a mi perro adoptado?</h4>
          <p class="card-text">Uno de los principales beneficios de esterilizar a su perro adoptado es que puede ayudar a mejorar su salud en general. La esterilización puede ayudar a reducir el riesgo de ciertos tipos de cáncer, como el cáncer de mama en las hembras y el cáncer testicular en los machos. <br> 
            También puede reducir el riesgo de ciertos problemas de comportamiento, como la agresión y el marcaje de territorio, prevenir la sobrepoblación, ayudar a mejorar el comportamiento de su mascota y reduciría la cantidad de animales no deseados en los refugios.</p>
        </div>
      </div>
    </div>
  </div>
