<div class="caja mt-4 p-3 m-3">
    <p><strong>Aca podras diligenciar el formulario de registro:</strong></p>
  </div>
<section class="form-registro">
    <h4 class="titulo"><strong>Formulario de registro</strong></h4>
    <input class="control" type="text" name="nombre" id="nombres" placeholder="Ingrese su nombre">
    <input class="control" type="text" name="apellido" id="apellidos" placeholder="Ingrese su apellido">
    <input class="control" type="text" name="nombreDeUsuario" id="nombresDeUsuario" placeholder="Ingrese su nombre de usuario">
    <input class="control" type="date" name="fechaDeNacimiento" id="fechaDeNacimiento" placeholder="Ingrese su fecha de nacimiento">
    <input class="control" type="text" name="tipoDeDocumento" id="tipoDeDocumento" placeholder="Ingrese su tipo de documento">
    <input class="control" type="number" name="numeroDeDocumento" id="numeroDeDocumento" placeholder="Ingrese su número de documento">
    <input class="control" type="number" name="telefono" id="telefono" placeholder="Ingrese su número de telefono">
    <input class="control" type="text" name="pais" id="pais" placeholder="Ingrese el país">
    <input class="control" type="text" name="ciudadDeResidencia" id="ciudadDeResidencia" placeholder="Ingrese su ciudad de residencia">
    <input class="control" type="text" name="direccion" id="direccion" placeholder="Ingrese su dirección">
    <input class="control" type="email" name="correoElectronico" id="correoElectronico" placeholder="Ingrese su correo electrónico">
    <input class="control" type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese su contraseña"> 
    <p>Estoy de acuerdo con los <a href="#">Terminos y condiciones</a></p>
<input class="boton" type="submit" value="Registrarme">
</section>
