<nav>
  <a href="/angular/src/app/components/inicio/inicio.component.html">Inicio</a>
  |
  <a href="/angular/src/app/components/productos/productos.component.html"
    >Productos</a
  >
  |
  <a href="/angular/src/app/components/servicios/servicios.component.html"
    >Servicios</a
  >
  |
  <a href="/angular/src/app/components/nosotros/nosotros.component.html"
    >Nosotros</a
  >
  |
  <a href="/angular/src/app/components/contactanos/contactanos.component.html"
    >Contactanos</a
  >
  |
  <a href="/angular/src/app/components/registrese/registrese.component.html"
    >Registrarse</a
  >
  |
  <a
    href="/angular/src/app/components/iniciar-sesion/iniciar-sesion.component.html"
    >Iniciar Sesión</a
  >
  |
  <a href="/angular/src/app/components/privado/privado.component.html"
    >Privado</a
  >
  |
</nav>
